*{
  margin:0;
  padding:0;
}

.app{
  width:100%;
  height: auto;
}

.app .home-section{
  width:100%;
  height:610px;
  background-image: url(src/assets/images/home3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}